.error {
  color: red;
}

body{
  background-color: black;
}

li{
  height: 35%;
  width: 19%;
  display: inline-grid;
  background-color: green;
  border-style: inset;
}

#search-area{
  text-align: center;
}
